<form action="/checkout" method="post">
   <br> Item to purchase <input type="text" name="item">
   <br>Amount: <input type="integer" name="amount">
   <input type="submit" id="submit" name="submit">

   </form>