
<form action="/checkout" method="POST">
    <label for="item">Enter an Item: </label>
    <input type="test" id="item" name="item" placeholder="Item">
    <input type="submit" value="submit">
</form>