<!DOCTYPE html>
<form method= "POST" action= "/checkout">
  <html>
    <body>
      <p>What would you like to purchase?</p>
      <input type = "text" id = "item" name = "item">
      <input id = "button" type = "submit" value = "submit">
    </body>
  </html>
</form>
